// @import 'mixins';
// @import 'variables';

body{
	margin:0px;
	color:#363636;
	font-size:15px;
	line-height:25px;
	font-family:'Montserrat', sans-serif;
	box-sizing:border-box;

@include header;	

#portfolio{
	width:100%;
	height:auto;
	text-align: center;
	margin-bottom: 5%;
	display:block;
	
	.portfolio__box-first{
		display:flex;
		flex-direction:row;
		width:100%;
		@media (max-width: 990px){
		 	display:block;
		}
		.box-left{
			width:50%;
			@media (max-width: 990px){
			 	display:block;
			 	width:100%;
			}
			.box-left-top{
				display:flex;

				.img-box1{
					width:100%;
					height:auto;
					position:relative;
					img{
						width:100%;
						height:400px;
						object-fit:cover;
					}
					@include Overlay;
				}
			}
			.box-left-bottom{
				display:flex;
				@media (max-width: 736px){
			 	display:block;
				}
				.img-box2{
					width:100%;
					height:auto;
					position:relative;
					img{
						width:100%;
						height:400px;
						object-fit:cover;
					}
					@include Overlay;
				}
				.img-box3{
					width:100%;
					height:auto;
					position:relative;
					img{
						width:100%;
						height:400px;
						object-fit:cover;
					}
					@include Overlay;
				}
			}
		}
		.box-right{
			display:block;
			width:50%;
			@media (max-width: 990px){
			 	width:100%;
			}
			.box-right-top{
				display:flex;
				flex-direction:row;
				@media (max-width: 736px){
			 		display:block;
				}
				.img-box4{
					width:100%;
					height:auto;
					position:relative;
					img{
						width:100%;
						height:400px;
						object-fit:cover;
					}
					@include Overlay;
				}
				.img-box5{
					width:100%;
					height:auto;
					position:relative;
					img{
						width:100%;
						height:400px;
						object-fit:cover;
					}
					@include Overlay;
				}
			}
			.box-right-bottom{
				.img-box6{
					width:100%;
					height:auto;
					position:relative;
					img{
						width:100%;
						height:400px;
						object-fit:cover;
					}
					@include Overlay;
				}
			}
		}
	}

	.portfolio__box-second{
		width:100%;
		display:flex;
		padding-bottom:5%;
		@media (max-width: 990px){
		 	display:block;
		 	width:100%;
		}
		.box-left{
			width:50%;
			display:block;
			@media (max-width: 990px){
			 	width:100%;
			}
			.box-left-top{
				.img-box7{
					width:100%;
					height:auto;
					position:relative;
					img{
						width:100%;
						height:400px;
						object-fit:cover;
					}
					@include Overlay;
				}
			}
			.box-left-bottom{
				display:flex;
				@media (max-width: 736px){
			 		display:block;
				}
				
				.img-box8{
					width:100%;
					height:auto;
					position:relative;
					img{
						width:100%;
						height:400px;
						object-fit:cover;
					}
					@include Overlay;
				}

				.img-box9{
					width:100%;
					height:auto;
					position:relative;
					img{
						width:100%;
						height:400px;
						object-fit:cover;
					}
					@include Overlay;
					
				}
			}
		}
		.box-right{
			width:50%;
			@media (max-width: 990px){
			 	display:block;
			 	width:100%;
			}
			.img-box10{
				width:100%;
				height:auto;
				position:relative;
					img{
						width:100%;
						height:800px;
						object-fit:cover;
				}
				@include Overlay;
			}
		}
	}
}

#about{
	background-color:$greyBackground;
	width:100%;
	padding-bottom:5%;
	padding-top:5%;

	.about__title{
		text-align:center;
		margin:auto;
	}
	.about__text{
		width:100%;
		text-align:center;
		margin:auto;
		padding:1% 25%;
	}
	#about__btn{
		display:flex;
		justify-content:center;
		text-align:center;
		margin:auto;
		padding-bottom:5%;
		@media (max-width:410px){
				flex-direction: column;
				width:50%;	
			}
		.about__btn--grey{
			margin:10px;
			padding:0px 15px;
			border:1px solid grey ;
			box-shadow:2px 2px 2px;
			border-radius:4px;
		}
		.about__btn--red{
			margin:10px;
			background-color:$redBackground;
			color:white;
			border:1px solid red ;
			box-shadow: 2px 2px 2px black;
			border-radius:4px;
		}
	}

@include Links;
}

@include footerTop;	

@include footer; 

}
