.intro {
  background-color: darkred;
  color: white;
  text-align: center;
  padding: 5%; }
  .intro h1 {
    font-weight: bold; }

#aboutUs {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding-bottom: 5%; }
  @media screen and (max-width: 768px) {
    #aboutUs {
      display: block;
      width: 100%;
      margin: auto; } }
  #aboutUs .aboutUsLeft {
    width: 50%;
    padding: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media screen and (max-width: 768px) {
      #aboutUs .aboutUsLeft {
        display: block;
        width: 100%;
        margin: auto; } }
    #aboutUs .aboutUsLeft .aboutUsText {
      font-size: 21px;
      padding: 5% 0%; }
      #aboutUs .aboutUsLeft .aboutUsText p {
        margin-left: 20px;
        font-size: 15px; }
        #aboutUs .aboutUsLeft .aboutUsText p:before {
          content: "\2022";
          color: darkred;
          font-size: 20px;
          font-weight: bold;
          display: inline-block;
          width: 10px;
          margin-left: -1em; }
      #aboutUs .aboutUsLeft .aboutUsText span {
        font-weight: bold;
        color: black; }
    #aboutUs .aboutUsLeft button {
      width: 20%;
      font-size: 10px;
      font-weight: bold;
      background-color: darkred;
      color: white;
      padding: 1% 0%;
      border: 1px solid red;
      box-shadow: 2px 2px 2px black;
      border-radius: 5px; }
      @media screen and (max-width: 768px) {
        #aboutUs .aboutUsLeft button {
          display: block;
          width: 100%;
          margin: auto; } }
  #aboutUs .skills {
    width: 50%;
    padding: 5% 5%;
    margin: auto; }
    #aboutUs .skills p {
      margin: 0;
      font-size: 15px; }
    #aboutUs .skills .progress .progress-bar {
      padding: 0px;
      margin: 0px;
      background-color: red; }

#about {
  padding: 10% 0%; }

#team {
  display: flex;
  width: 100%;
  height: auto; }
  @media screen and (max-width: 1200px) {
    #team {
      flex-direction: column; } }
  #team .leftSide {
    width: 50%;
    margin: auto; }
    @media screen and (max-width: 1200px) {
      #team .leftSide {
        width: 100%;
        text-align: center;
        margin: auto; } }
    #team .leftSide .content {
      display: flex;
      flex-direction: column;
      padding: 10% 0%; }
      #team .leftSide .content p {
        font-size: 20px;
        margin-left: 120px; }
        #team .leftSide .content p:nth-child(1) {
          margin-left: 130px;
          font-size: 15px; }
          #team .leftSide .content p:nth-child(1):before {
            content: "\2022";
            color: darkred;
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
            width: 10px;
            margin-left: -1em; }
        @media screen and (max-width: 1200px) {
          #team .leftSide .content p {
            flex-direction: column;
            text-align: center;
            margin: auto;
            justify-content: center;
            word-wrap: break-word; }
            #team .leftSide .content p:nth-child(1) {
              margin: auto; } }
      #team .leftSide .content span {
        font-weight: bold; }
      #team .leftSide .content .teamImages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto; }
        @media screen and (max-width: 768px) {
          #team .leftSide .content .teamImages {
            flex-direction: column; } }
        #team .leftSide .content .teamImages .imgBox1 {
          margin: 15px;
          height: auto;
          position: relative; }
          #team .leftSide .content .teamImages .imgBox1 img {
            object-fit: cover;
            width: 150px;
            height: 150px;
            border-radius: 10px; }
          #team .leftSide .content .teamImages .imgBox1 .overlay {
            position: absolute;
            display: block;
            margin: auto;
            left: 0px;
            top: 0px;
            bottom: 0px;
            right: 0px;
            width: 100%;
            height: auto;
            opacity: 0;
            transition: .5s ease;
            background-color: red; }
          #team .leftSide .content .teamImages .imgBox1 .overlayText {
            display: none;
            margin: auto;
            background-color: transparent;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
            #team .leftSide .content .teamImages .imgBox1 .overlayText p {
              display: block;
              margin: 10px;
              font-size: auto; }
              #team .leftSide .content .teamImages .imgBox1 .overlayText p span {
                font-size: 10px; }
                #team .leftSide .content .teamImages .imgBox1 .overlayText p span i {
                  margin: 10px;
                  color: white; }
            #team .leftSide .content .teamImages .imgBox1 .overlayText h1 {
              font-weight: bold; }
          #team .leftSide .content .teamImages .imgBox1:hover .overlay {
            opacity: .9;
            transition: opacity .5s; }
            #team .leftSide .content .teamImages .imgBox1:hover .overlay .overlayText {
              display: block; }
            #team .leftSide .content .teamImages .imgBox1:hover .overlay .overlayButton {
              margin: auto;
              font-size: 25px;
              font-weight: bold;
              background-color: red;
              color: white;
              padding: 10 15%;
              border: 1px solid darkred;
              box-shadow: 2px 2px 2px black;
              border-radius: 5px;
              outline: none; }
        #team .leftSide .content .teamImages .imgBox2 {
          margin: 15px;
          height: auto;
          position: relative; }
          #team .leftSide .content .teamImages .imgBox2 img {
            object-fit: cover;
            width: 150px;
            height: 150px;
            border-radius: 10px; }
          #team .leftSide .content .teamImages .imgBox2 .overlay {
            position: absolute;
            display: block;
            margin: auto;
            left: 0px;
            top: 0px;
            bottom: 0px;
            right: 0px;
            width: 100%;
            height: auto;
            opacity: 0;
            transition: .5s ease;
            background-color: red; }
          #team .leftSide .content .teamImages .imgBox2 .overlayText {
            display: none;
            margin: auto;
            background-color: transparent;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
            #team .leftSide .content .teamImages .imgBox2 .overlayText p {
              display: block;
              margin: 10px;
              font-size: auto; }
              #team .leftSide .content .teamImages .imgBox2 .overlayText p span {
                font-size: 10px; }
                #team .leftSide .content .teamImages .imgBox2 .overlayText p span i {
                  margin: 10px;
                  color: white; }
            #team .leftSide .content .teamImages .imgBox2 .overlayText h1 {
              font-weight: bold; }
          #team .leftSide .content .teamImages .imgBox2:hover .overlay {
            opacity: .9;
            transition: opacity .5s; }
            #team .leftSide .content .teamImages .imgBox2:hover .overlay .overlayText {
              display: block; }
            #team .leftSide .content .teamImages .imgBox2:hover .overlay .overlayButton {
              margin: auto;
              font-size: 25px;
              font-weight: bold;
              background-color: red;
              color: white;
              padding: 10 15%;
              border: 1px solid darkred;
              box-shadow: 2px 2px 2px black;
              border-radius: 5px;
              outline: none; }
        #team .leftSide .content .teamImages .imgBox3 {
          margin: 15px;
          height: auto;
          position: relative; }
          #team .leftSide .content .teamImages .imgBox3 img {
            object-fit: cover;
            width: 150px;
            height: 150px;
            border-radius: 10px; }
          #team .leftSide .content .teamImages .imgBox3 .overlay {
            position: absolute;
            display: block;
            margin: auto;
            left: 0px;
            top: 0px;
            bottom: 0px;
            right: 0px;
            width: 100%;
            height: auto;
            opacity: 0;
            transition: .5s ease;
            background-color: red; }
          #team .leftSide .content .teamImages .imgBox3 .overlayText {
            display: none;
            margin: auto;
            background-color: transparent;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
            #team .leftSide .content .teamImages .imgBox3 .overlayText p {
              display: block;
              margin: 10px;
              font-size: auto; }
              #team .leftSide .content .teamImages .imgBox3 .overlayText p span {
                font-size: 10px; }
                #team .leftSide .content .teamImages .imgBox3 .overlayText p span i {
                  margin: 10px;
                  color: white; }
            #team .leftSide .content .teamImages .imgBox3 .overlayText h1 {
              font-weight: bold; }
          #team .leftSide .content .teamImages .imgBox3:hover .overlay {
            opacity: .9;
            transition: opacity .5s; }
            #team .leftSide .content .teamImages .imgBox3:hover .overlay .overlayText {
              display: block; }
            #team .leftSide .content .teamImages .imgBox3:hover .overlay .overlayButton {
              margin: auto;
              font-size: 25px;
              font-weight: bold;
              background-color: red;
              color: white;
              padding: 10 15%;
              border: 1px solid darkred;
              box-shadow: 2px 2px 2px black;
              border-radius: 5px;
              outline: none; }
  #team .rightSide {
    width: 50%; }
    @media screen and (max-width: 1200px) {
      #team .rightSide {
        width: 100%; } }
    #team .rightSide .imgBox4 {
      width: 100%;
      height: auto;
      position: relative; }
      #team .rightSide .imgBox4 img {
        object-fit: cover;
        width: 100%; }
      #team .rightSide .imgBox4 .overlay {
        position: absolute;
        display: block;
        margin: auto;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: auto;
        opacity: 0;
        transition: .5s ease;
        background-color: red; }
      #team .rightSide .imgBox4 .overlayText {
        display: none;
        margin: auto;
        background-color: transparent;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
        #team .rightSide .imgBox4 .overlayText p {
          display: block;
          margin: 10px;
          font-size: auto; }
          #team .rightSide .imgBox4 .overlayText p span {
            font-size: 10px; }
            #team .rightSide .imgBox4 .overlayText p span i {
              margin: 10px;
              color: white; }
        #team .rightSide .imgBox4 .overlayText h1 {
          font-weight: bold; }
      #team .rightSide .imgBox4:hover .overlay {
        opacity: .9;
        transition: opacity .5s; }
        #team .rightSide .imgBox4:hover .overlay .overlayText {
          display: block; }
        #team .rightSide .imgBox4:hover .overlay .overlayButton {
          margin: auto;
          font-size: 25px;
          font-weight: bold;
          background-color: red;
          color: white;
          padding: 10 15%;
          border: 1px solid darkred;
          box-shadow: 2px 2px 2px black;
          border-radius: 5px;
          outline: none; }

/*# sourceMappingURL=about.css.map */
