.intro {
  background-color: darkred;
  color: white;
  text-align: center;
  padding: 5%; }
  .intro h1 {
    font-weight: bold; }

#about__section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding-bottom: 5%; }
  @media screen and (max-width: 768px) {
    #about__section {
      display: block;
      width: 100%;
      margin: auto; } }
  #about__section .about-left {
    width: 50%;
    padding: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media screen and (max-width: 768px) {
      #about__section .about-left {
        display: block;
        width: 100%;
        margin: auto; } }
    #about__section .about-left .about-left__Text {
      font-size: 21px;
      padding: 5% 0%; }
      #about__section .about-left .about-left__Text p {
        margin-left: 20px;
        font-size: 15px; }
        #about__section .about-left .about-left__Text p:before {
          content: "\2022";
          color: darkred;
          font-size: 20px;
          font-weight: bold;
          display: inline-block;
          width: 10px;
          margin-left: -1em; }
      #about__section .about-left .about-left__Text span {
        font-weight: bold;
        color: black; }
    #about__section .about-left button {
      width: 20%;
      font-size: 10px;
      font-weight: bold;
      background-color: darkred;
      color: white;
      padding: 1% 0%;
      border: 1px solid red;
      box-shadow: 2px 2px 2px black;
      border-radius: 5px; }
      @media screen and (max-width: 768px) {
        #about__section .about-left button {
          display: block;
          width: 100%;
          margin: auto; } }
  #about__section .skills {
    width: 50%;
    padding: 5% 5%;
    margin: auto; }
    #about__section .skills p {
      margin: 0;
      font-size: 15px; }
    #about__section .skills .progress .progress-bar {
      padding: 0px;
      margin: 0px;
      background-color: red; }

#stats {
  padding: 10% 0%;
  background-color: #EFEFEF; }
  #stats #links {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: auto; }
    @media (max-width: 990px) {
      #stats #links {
        flex-direction: column;
        align-items: center; } }
    #stats #links .links__element {
      width: 15%;
      display: flex;
      margin: auto; }
      @media (max-width: 990px) {
        #stats #links .links__element {
          padding-bottom: 10%; } }
      @media (max-width: 410px) {
        #stats #links .links__element {
          display: block;
          margin: auto; } }
      #stats #links .links__element .links__element__btn {
        padding: 25px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: darkred;
        color: white;
        border-radius: 50%;
        margin: auto; }
        @media (max-width: 410px) {
          #stats #links .links__element .links__element__btn {
            padding: 15px 25px; } }
      #stats #links .links__element p {
        color: grey;
        margin-left: 5px; }
        #stats #links .links__element p i {
          margin: auto; }
        #stats #links .links__element p span {
          font-weight: bold;
          color: black;
          font-size: 22px; }

#team {
  display: flex;
  width: 100%;
  height: auto; }
  @media screen and (max-width: 1200px) {
    #team {
      flex-direction: column; } }
  #team .team-left {
    width: 50%;
    margin: auto; }
    @media screen and (max-width: 1200px) {
      #team .team-left {
        width: 100%;
        text-align: center;
        margin: auto; } }
    #team .team-left .content {
      display: flex;
      flex-direction: column;
      padding: 10% 0%; }
      #team .team-left .content p {
        font-size: 20px;
        margin-left: 190px; }
        #team .team-left .content p:nth-child(1) {
          margin-left: 190px;
          font-size: 15px; }
          #team .team-left .content p:nth-child(1):before {
            content: "\2022";
            color: darkred;
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
            width: 10px;
            margin-left: -1em; }
        @media screen and (max-width: 1200px) {
          #team .team-left .content p {
            flex-direction: column;
            text-align: center;
            margin: auto;
            justify-content: center;
            word-wrap: break-word; }
            #team .team-left .content p:nth-child(1) {
              margin: auto; } }
      #team .team-left .content span {
        font-weight: bold; }
      #team .team-left .content .team__images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto; }
        @media screen and (max-width: 768px) {
          #team .team-left .content .team__images {
            flex-direction: column; } }
        #team .team-left .content .team__images .img-box1 {
          margin: 15px;
          height: auto;
          position: relative; }
          #team .team-left .content .team__images .img-box1 img {
            object-fit: cover;
            width: 150px;
            height: 150px;
            border-radius: 10px; }
          #team .team-left .content .team__images .img-box1 .overlay {
            position: absolute;
            display: block;
            margin: auto;
            left: 0px;
            top: 0px;
            bottom: 0px;
            right: 0px;
            width: 100%;
            height: auto;
            opacity: 0;
            transition: .5s ease;
            background-color: red; }
          #team .team-left .content .team__images .img-box1 .overlay__text {
            display: none;
            margin: auto;
            background-color: transparent;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
            #team .team-left .content .team__images .img-box1 .overlay__text p {
              display: block;
              margin: 10px;
              font-size: auto; }
              #team .team-left .content .team__images .img-box1 .overlay__text p span {
                font-size: 10px; }
                #team .team-left .content .team__images .img-box1 .overlay__text p span i {
                  margin: 10px;
                  color: white; }
            #team .team-left .content .team__images .img-box1 .overlay__text h1 {
              font-weight: bold; }
          #team .team-left .content .team__images .img-box1 .overlay__btn {
            display: hidden;
            margin: auto;
            font-size: 15px;
            font-weight: bold;
            background-color: red;
            color: white;
            padding: 3% 5%;
            border: 1px solid darkred;
            box-shadow: 2px 2px 2px black;
            border-radius: 5px;
            outline: none; }
          #team .team-left .content .team__images .img-box1:hover .overlay {
            opacity: .9;
            transition: opacity .5s; }
            #team .team-left .content .team__images .img-box1:hover .overlay .overlay__text {
              display: block; }
            #team .team-left .content .team__images .img-box1:hover .overlay .overlay__btn {
              display: block; }
        #team .team-left .content .team__images .img-box2 {
          margin: 15px;
          height: auto;
          position: relative; }
          #team .team-left .content .team__images .img-box2 img {
            object-fit: cover;
            width: 150px;
            height: 150px;
            border-radius: 10px; }
          #team .team-left .content .team__images .img-box2 .overlay {
            position: absolute;
            display: block;
            margin: auto;
            left: 0px;
            top: 0px;
            bottom: 0px;
            right: 0px;
            width: 100%;
            height: auto;
            opacity: 0;
            transition: .5s ease;
            background-color: red; }
          #team .team-left .content .team__images .img-box2 .overlay__text {
            display: none;
            margin: auto;
            background-color: transparent;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
            #team .team-left .content .team__images .img-box2 .overlay__text p {
              display: block;
              margin: 10px;
              font-size: auto; }
              #team .team-left .content .team__images .img-box2 .overlay__text p span {
                font-size: 10px; }
                #team .team-left .content .team__images .img-box2 .overlay__text p span i {
                  margin: 10px;
                  color: white; }
            #team .team-left .content .team__images .img-box2 .overlay__text h1 {
              font-weight: bold; }
          #team .team-left .content .team__images .img-box2 .overlay__btn {
            display: hidden;
            margin: auto;
            font-size: 15px;
            font-weight: bold;
            background-color: red;
            color: white;
            padding: 3% 5%;
            border: 1px solid darkred;
            box-shadow: 2px 2px 2px black;
            border-radius: 5px;
            outline: none; }
          #team .team-left .content .team__images .img-box2:hover .overlay {
            opacity: .9;
            transition: opacity .5s; }
            #team .team-left .content .team__images .img-box2:hover .overlay .overlay__text {
              display: block; }
            #team .team-left .content .team__images .img-box2:hover .overlay .overlay__btn {
              display: block; }
        #team .team-left .content .team__images .img-box3 {
          margin: 15px;
          height: auto;
          position: relative; }
          #team .team-left .content .team__images .img-box3 img {
            object-fit: cover;
            width: 150px;
            height: 150px;
            border-radius: 10px; }
          #team .team-left .content .team__images .img-box3 .overlay {
            position: absolute;
            display: block;
            margin: auto;
            left: 0px;
            top: 0px;
            bottom: 0px;
            right: 0px;
            width: 100%;
            height: auto;
            opacity: 0;
            transition: .5s ease;
            background-color: red; }
          #team .team-left .content .team__images .img-box3 .overlay__text {
            display: none;
            margin: auto;
            background-color: transparent;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
            #team .team-left .content .team__images .img-box3 .overlay__text p {
              display: block;
              margin: 10px;
              font-size: auto; }
              #team .team-left .content .team__images .img-box3 .overlay__text p span {
                font-size: 10px; }
                #team .team-left .content .team__images .img-box3 .overlay__text p span i {
                  margin: 10px;
                  color: white; }
            #team .team-left .content .team__images .img-box3 .overlay__text h1 {
              font-weight: bold; }
          #team .team-left .content .team__images .img-box3 .overlay__btn {
            display: hidden;
            margin: auto;
            font-size: 15px;
            font-weight: bold;
            background-color: red;
            color: white;
            padding: 3% 5%;
            border: 1px solid darkred;
            box-shadow: 2px 2px 2px black;
            border-radius: 5px;
            outline: none; }
          #team .team-left .content .team__images .img-box3:hover .overlay {
            opacity: .9;
            transition: opacity .5s; }
            #team .team-left .content .team__images .img-box3:hover .overlay .overlay__text {
              display: block; }
            #team .team-left .content .team__images .img-box3:hover .overlay .overlay__btn {
              display: block; }
  #team .team-right {
    width: 50%; }
    @media screen and (max-width: 1200px) {
      #team .team-right {
        width: 100%; } }
    #team .team-right .img-box4 {
      width: 100%;
      height: auto;
      position: relative; }
      #team .team-right .img-box4 img {
        object-fit: cover;
        width: 100%; }
      #team .team-right .img-box4 .overlay {
        position: absolute;
        display: block;
        margin: auto;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: auto;
        opacity: 0;
        transition: .5s ease;
        background-color: red; }
      #team .team-right .img-box4 .overlay__text {
        display: none;
        margin: auto;
        background-color: transparent;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
        #team .team-right .img-box4 .overlay__text p {
          display: block;
          margin: 10px;
          font-size: auto; }
          #team .team-right .img-box4 .overlay__text p span {
            font-size: 10px; }
            #team .team-right .img-box4 .overlay__text p span i {
              margin: 10px;
              color: white; }
        #team .team-right .img-box4 .overlay__text h1 {
          font-weight: bold; }
      #team .team-right .img-box4 .overlay__btn {
        display: hidden;
        margin: auto;
        font-size: 15px;
        font-weight: bold;
        background-color: red;
        color: white;
        padding: 3% 5%;
        border: 1px solid darkred;
        box-shadow: 2px 2px 2px black;
        border-radius: 5px;
        outline: none; }
      #team .team-right .img-box4:hover .overlay {
        opacity: .9;
        transition: opacity .5s; }
        #team .team-right .img-box4:hover .overlay .overlay__text {
          display: block; }
        #team .team-right .img-box4:hover .overlay .overlay__btn {
          display: block; }

/*# sourceMappingURL=about.css.map */
