#services .intro {
  background-color: darkred;
  color: white;
  text-align: center;
  padding: 5%; }
  #services .intro h1 {
    font-weight: bold; }
#services #servicesBody {
  display: flex;
  flex-direction: row;
  width: 100%; }
  @media screen and (max-width: 1400px) {
    #services #servicesBody {
      flex-direction: column;
      width: 100%; } }
  #services #servicesBody .leftSide {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%; }
    @media screen and (max-width: 1400px) {
      #services #servicesBody .leftSide {
        flex-direction: column;
        width: 100%; } }
    #services #servicesBody .leftSide .title p {
      font-size: 20px;
      font-weight: bold; }
      #services #servicesBody .leftSide .title p:nth-child(1) {
        font-size: 15px;
        margin-left: 20px; }
        #services #servicesBody .leftSide .title p:nth-child(1):before {
          content: "\2022";
          color: darkred;
          font-size: 20px;
          font-weight: bold;
          display: inline-block;
          width: 10px;
          margin-left: -1em; }
    #services #servicesBody .leftSide .title h1 {
      font-size: 21px; }
    #services #servicesBody .leftSide .servicesIcons {
      display: flex;
      width: 100%; }
      @media screen and (max-width: 990px) {
        #services #servicesBody .leftSide .servicesIcons {
          flex-direction: column;
          width: 100%;
          margin: auto; } }
      #services #servicesBody .leftSide .servicesIcons .servicesIcon {
        display: block; }
        #services #servicesBody .leftSide .servicesIcons .servicesIcon .icon {
          background-color: red;
          color: white;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4% 8%;
          border-radius: 10px;
          font-size: 30px; }
        #services #servicesBody .leftSide .servicesIcons .servicesIcon .text {
          margin-top: 20px; }
          #services #servicesBody .leftSide .servicesIcons .servicesIcon .text h5 {
            font-weight: bold; }
  #services #servicesBody .rightSide {
    width: 50%; }
    @media screen and (max-width: 1400px) {
      #services #servicesBody .rightSide {
        flex-direction: column;
        width: 100%; } }
    #services #servicesBody .rightSide .imgBox1 {
      width: 100%;
      height: auto;
      position: relative; }
      #services #servicesBody .rightSide .imgBox1 img {
        width: 100%;
        height: 800px;
        object-fit: cover; }
      #services #servicesBody .rightSide .imgBox1 .overlay {
        position: absolute;
        display: block;
        margin: auto;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: auto;
        opacity: 0;
        transition: .5s ease;
        background-color: red; }
      #services #servicesBody .rightSide .imgBox1 .overlayText {
        display: none;
        margin: auto;
        background-color: transparent;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
        #services #servicesBody .rightSide .imgBox1 .overlayText p {
          display: block;
          margin: 10px;
          font-size: auto; }
          #services #servicesBody .rightSide .imgBox1 .overlayText p span {
            font-size: 10px; }
            #services #servicesBody .rightSide .imgBox1 .overlayText p span i {
              margin: 10px;
              color: white; }
        #services #servicesBody .rightSide .imgBox1 .overlayText h1 {
          font-weight: bold; }
      #services #servicesBody .rightSide .imgBox1:hover .overlay {
        opacity: .9;
        transition: opacity .5s; }
        #services #servicesBody .rightSide .imgBox1:hover .overlay .overlayText {
          display: block; }
        #services #servicesBody .rightSide .imgBox1:hover .overlay .overlayButton {
          margin: auto;
          font-size: 25px;
          font-weight: bold;
          background-color: red;
          color: white;
          padding: 10 15%;
          border: 1px solid darkred;
          box-shadow: 2px 2px 2px black;
          border-radius: 5px;
          outline: none; }

#clients {
  background-color: #EFEFEF;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  #clients .imgBox2 {
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 10%; }
    #clients .imgBox2 img {
      width: 20%;
      height: auto;
      border-radius: 50%; }
  #clients .text {
    width: 60%;
    margin: auto;
    padding: 5% 5%; }
    #clients .text .quote i {
      color: darkred;
      width: 50%;
      display: flex;
      justify-content: flex-start;
      padding-bottom: 1%; }
    #clients .text .name {
      font-weight: bold; }

#partners {
  background-color: #EFEFEF;
  display: flex;
  padding: 5%; }
  @media (max-width: 736px) {
    #partners {
      flex-direction: column;
      align-items: center; } }
  #partners .icon {
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    margin: auto;
    font-weight: bold; }
    @media (max-width: 736px) {
      #partners .icon {
        display: block;
        width: 100%;
        margin: 5% 0%;
        text-align: center;
        justify-content: center; } }

/*# sourceMappingURL=services.css.map */
