body{
	margin:0px;
	max-width:100%;

	#logo{
		position:absolute;
		align-items:center;
		top:8%;
		left:50%;
		transform:translate(-50%,-8%);
		text-align:center;


		.navbar-brand{
			
			color:white;
			background-color:darkred;
			margin:auto;
			padding:9px 17px;
   			border-radius: 50%;
   			font-size: 33px;
		}
	}	

	.logoText{
		text-align:center;
	}
	.nav{
		margin:15% 0;

		.nav-link{
			color:black;
			text-decoration:none;
			font-weight:bold;

			&:hover{
				color:darkred;
			}
		}
	}
	.headerBtn{
		display:flex;
		justify-content:center;

		button{
			border:1px solid Gainsboro ;
			background-color:transparent;
			box-shadow:1px 1px grey;
			margin:10px;
			padding:1px 10px;
		}
	}
	.imagesBox1{
		width:100%;
		display:flex;
		flex-direction:row;
		justify-content:center;
		flex-wrap:wrap;
		margin: 0;

		img{
			margin:0px;
		
		}
	}
	
	.lastBox{
		display:flex;
		flex-direction:row;
		justify-content:center;

			.imagesBox2{
				width:100%;
				display:flex;
				flex-direction:row;
				justify-content:flex-start;
				flex-wrap:wrap;
				margin: 0;

				.first{
					display:flex;
					justify-content:flex-start;
				}
				.second{
					display:flex;
					justify-content:flex-start;
				}
			}
			.imagesBox3{
			width:100%;
			display:flex;
			flex-direction:row;
			justify-content:flex-end;
			margin: 0;
			}

			img{
				margin:0px;
			
				}

	}
	


	
}